<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.application">
    
    <application
        android:allowBackup="true"
        android:resizeableActivity="true">

	<service
            android:name=".MyService"
            android:exported="false" />
            
        <activity
            android:name=".MainActivity"
            >

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>

    </application>

</manifest>
